body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    position: fixed;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: Bold;
    font-size:40px;
}
.nav-link{
    font-family: 'Gothic A1', sans-serif;
    font-size:16px;
}
.navbar{
    background-color: #660066;
}

h1{
    font-family:'Oswald', sans-serif;;
    font-weight:Bold;
    font-size:72px;
}

.sub-yosoy{
    width:80%;
    color:#ffffff;
    border: 1px solid;
    border-radius: 3px;
}

h2{
    font-family:'Oswald', sans-serif;;
    font-weight:200;
    font-size:72px;
}

.hero-section{
    text-align: center;
    background-image: url(../img/bg_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    }

.header{
    padding-top:39%;
    padding-bottom:3%;
}

h4{
    font-size:25px;
    font-weight:bold;
    line-height:50px;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size: 52px;
}    


.sub-sobremi, .sub-contacto, .sub-experiencia{
    width:20%;
    color:#373A3C;
    border: 1px solid;
    border-radius: 3px;
}

i{
font-size: 150px;
color: #660066;
}

h5{
    font-family: 'Oswald', sans-serif;
    font-weight:600;
    font-size: 25px;
}    


h6{
    font-weight:200;
    font-size: 25px;
}    

 @media screen and (min-width:320px) and (max-width:768px){
    
    h1, h2{
        width:80%;
        font-size:40px;
    }

    .sub-yosoy{
        width:40%;
        margin-top:5px;
        margin-bottom:5px;
    }
    
    .header{
        padding-top:50%;
        padding-bottom:3%;
    }

    h3{
        font-size:35px;
    }  
    
    .sub-contacto{
        width:50%;
    }
}


/*font-family: 'Gothic A1', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;